﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Kitti Balogh<br />
    <abbr title="Phone">P:</abbr>
    +36(30)302-18-36
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:blghktt@yahoo.com">blghktt@yahoo.com</a><br />
</address>