﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div>
        <br />
        @Html.ActionLink("List of Manufacturers", "Index", "Manufacturers")<br />
        @Html.ActionLink("List of Cars", "Index", "Cars")<br />
        @Html.ActionLink("List of Owners", "Index", "Owners")<br /><br />
        @Html.ActionLink("Count of cars owned by females by country (LINQ and SQL Stored Function)", "Index", "CustomSelections")
    </div>
</div>