﻿@model IEnumerable<IEnumerable<CarWebApplication.Models.CountryCountModel>>

@{
    ViewBag.Title = "Index";
}

<div class="row"><br />Count of cars owned by females for each manufacturer country. Countries are ordered in a descending list by their names.</div>

<h2>Using LINQ</h2>

@Html.Partial("_CountryCountList", Model.First())

<h2>Using Stored Procedure</h2>

@Html.Partial("_CountryCountList", Model.Last())
